/* Responsive Begins  */

@media (max-width: 1199px) {
  .logo {
    margin-right: 0;
    width: 35%;
  }

  #nav-bar {
    width: 80%;
  }

  .navbar-nav {
    width: 75%;
  }

  .navbar-nav li a {
    font-size: 18px;
  }

  .navbar-end {
    width: 25%;
  }

  .navbar-end button {
    width: 130px;
    height: 50px;
    font-size: 17px;
  }

  .banner-sec {
    padding: 140px 0 80px 0;
  }

  .hero-left {
    width: 60%;
  }

  .hero-right {
    width: 40%;
    right: 0;
  }

  .hero-left-head {
    margin-bottom: 35px;
  }

  .hero-left-head h2 {
    width: 595px;
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 20px;
  }

  .hero-left-head p {
    width: 505px;
    font-size: 18px;
    line-height: 30px;
  }

  .hero-left-button {
    margin-bottom: 35px;
  }

  .hero-left-button button {
    width: 135px;
    height: 50px;
    font-size: 16px;
    margin-right: 10px;
  }

  .hero-left-button .demo-boton {
    width: 220px;
  }

  .hero-left-botom img {
    margin-right: 15px;
  }

  .company-head h4 {
    font-size: 25px;
    margin-bottom: 35px;
  }

  .company-logos {
    flex-wrap: wrap;
  }

  .company-logos img {
    margin-right: 20px;
    width: 10%;
  }
  .help-desk-sec {
    padding: 50px 0;
  }

  .help-head h4 {
    font-size: 35px;
    margin-bottom: 45px;
  }

  .help-box {
    width: 31%;
  }

  .help-img {
    padding: 25px;
  }

  .help-box-content {
    padding: 15px;
  }

  .help-box-content h6 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .help-box-content p {
    font-size: 15px;
    line-height: 25px;
  }

  .support-software-sec {
    padding: 60px 0;
  }

  .support-head h2 {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 15px;
  }

  .support-head h6 {
    width: 730px;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 30px;
  }

  #myTab {
    width: 96.5%;
    border-bottom: 2px solid #757095;
  }

  #myTab li {
    margin-right: 25px;
    margin-bottom: 0px;
  }
  .support-tab-wrap .nav-link {
    font-size: 13px;
  }

  .tab-wrap {
    margin-bottom: 40px;
  }

  .tab-left {
    width: 55%;
  }

  .tab-right {
    width: 50%;
  }

  .tab-left-head h3 {
    font-size: 25px;
  }

  .tab-left-head p {
    font-size: 15px;
    line-height: 0px;
  }

  .support-tab-wrap .tab-left-botom ul li {
    width: 26%;
    margin-bottom: 5px;
  }

  .support-tab-wrap .tab-left-botom ul {
    width: 95%;
  }

  .modern-b2b-sec {
    padding: 40px 0;
  }

  .modern-wrap {
    flex-wrap: wrap;
  }

  .modern-left {
    width: 100%;
    text-align: center;
  }

  .modern-right {
    width: 100%;
    text-align: center;
  }

  .modern-left-head h4 {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .modern-left-head p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 25px;
  }

  .modern-input form input {
    padding-bottom: 5px;
    width: 50%;
    margin-bottom: 25px;
  }

  .play-btn-wrap {
    top: -330px;
    left: 20px;
  }

  .customer-sec {
    padding: 70px 0;
  }

  .customer-head h4 {
    font-size: 35px;
    margin-bottom: 15px;
  }

  .customer-head p {
    width: 700px;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 35px;
  }

  .customer-img {
    padding: 15px 30px;
  }

  .customer-content {
    padding: 15px;
  }

  .customer-content h5 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .customer-content p {
    font-size: 15px;
    line-height: 25px;
  }

  .pricing-sec {
    padding: 50px 0;
  }

  .pricing-head h4 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 45px;
  }

  .pricing-wrap .nav-link {
    width: 180px;
    height: 60px;
    font-size: 18px;
  }

  .pricing-box {
    width: 24%;
  }

  .price-box-head {
    padding: 10px;
    margin-bottom: 20px;
  }

  .price-box-head p {
    font-size: 22px;
    padding: 15px 10px;
  }

  .price-content h6 {
    font-size: 25px;
  }

  .price-content p {
    font-size: 15px;
    margin-bottom: 35px;
  }

  .price-line {
    margin-bottom: 10px;
    width: 90%;
  }

  .price-content p.price {
    margin-bottom: 10px;
  }

  .price-line.botom-line {
    margin-bottom: 35px;
  }

  .price-boton button {
    width: 160px;
    height: 45px;
    margin-bottom: 15px;
    font-size: 17px;
  }

  .face-left {
    width: 38%;
  }

  .face-right {
    width: 56%;
  }

  .face-right-wrap h5 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 15px;
  }

  .face-right-wrap p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 25px;
  }

  .face-boton button {
    width: 150px;
    height: 45px;
    font-size: 16px;
  }

  .review-sec {
    padding: 50px 0;
  }

  .review-head h3 {
    font-size: 35px;
    margin-bottom: 80px;
  }

  .stars i {
    margin-bottom: 10px;
    font-size: 12px;
  }

  .user-review p {
    padding: 0 15px;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 15px;
  }

  .review-line {
    margin-bottom: 15px;
  }

  .user-name {
    padding: 0 15px;
  }

  .user-name h6 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .user-name p {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .happy-left {
    width: 65%;
  }

  .happy-left-head h4 {
    font-size: 29px;
    line-height: 40px;
    margin-bottom: 25px;
  }

  .happy-left-head p {
    font-size: 15px;
    margin-bottom: 25px;
  }

  .happy-boton button {
    width: 140px;
    height: 45px;
    font-size: 16px;
  }

  .blog-sec {
    padding: 50px 0;
  }

  .blog-head h3 {
    font-size: 35px;
    margin-bottom: 40px;
  }

  .blog-content {
    padding: 15px;
  }

  .blog-content h5 {
    font-size: 19px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  .blog-content p {
    font-size: 16px;
    line-height: 25px;
  }

  footer {
    padding: 50px 0 0 0;
  }

  .foot-link-box h6 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .foot-link-box ul li a {
    font-size: 14px;
  }

  .foot-botom-wrap p {
    font-size: 12px;
  }

  .foot-anchor a {
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  #nav-bar {
    position: absolute;
    background: #fff;
    width: 100%;
    top: 90px;
    left: 0;
    z-index: 9999;
  }

  .navbar-nav {
    width: 100%;
  }

  .navbar-nav li {
    margin-right: 0;
    width: 100%;
    padding-left: 40px;
  }

  .navbar-nav .nav-link.active {
    color: #1a0e36;
  }

  .navbar-end {
    width: 100%;
    padding: 5px 0 15px 35px;
  }

  .navbar-end button {
    width: 120px;
    height: 40px;
    font-size: 14px;
  }

  .navbar-toggler {
    color: #f8f8fe;
    border: 1px solid #ff9800;
  }

  .navbar-toggler:focus {
    box-shadow: 0px 0px 0px 1px #ff9800;
  }

  .banner-sec {
    padding: 110px 0 50px 0;
  }

  .hero-left {
    width: 50%;
  }

  .hero-right {
    width: 50%;
    right: 0;
  }

  .hero-left-head {
    margin-bottom: 15px;
  }

  .hero-left-head h2 {
    width: auto;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 15px;
  }

  .hero-left-head p {
    width: auto;
    font-size: 15px;
    line-height: 20px;
  }

  .hero-left-button {
    margin-bottom: 20px;
  }

  .hero-left-button button {
    width: 105px;
    height: 35px;
    font-size: 14px;
    margin-right: 5px;
  }

  .hero-left-button .demo-boton {
    width: 165px;
  }

  .hero-left-botom img {
    margin-right: 10px;
  }

  .companies-sec {
    padding: 30px 0;
  }

  .company-head h4 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .company-logos img {
    margin-right: 18px;
    width: 9%;
  }

  .help-desk-sec {
    padding: 30px 0;
  }

  .help-head h4 {
    font-size: 25px;
    margin-bottom: 30px;
    width: auto;
  }

  .help-box {
    width: 32%;
  }

  .help-img {
    padding: 20px;
  }

  .help-box-content {
    padding: 10px;
  }

  .help-box-content h6 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .help-box-content p {
    font-size: 14px;
    line-height: 20px;
  }

  .support-software-sec {
    padding: 40px 0;
  }

  .support-head h2 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .support-head h6 {
    width: auto;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  #myTab li {
    margin-right: 19px;
    margin-bottom: 10px;
  }

  .support-tab-wrap .nav-link {
    margin-bottom: -5px;
    font-size: 13px;
    padding-bottom: 2px;
  }

  #myTab {
    width: 100%;
    border-bottom: 0;
  }

  .tab-left {
    width: 50%;
  }

  .tab-left-head h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .tab-left-head p {
    font-size: 12px;
    line-height: 0;
  }

  .support-tab-wrap .tab-left-botom .customer-icons {
    width: 85%;
  }

  .support-tab-wrap .tab-left-botom .customer-icons li {
    width: 36%;
    margin-bottom: 15px;
  }

  .support-tab-wrap .tab-left-botom .customer-icons li span {
    width: 34px;
    height: 34px;
  }

  .tab-botom-boton button {
    width: 140px;
    height: 45px;
    font-size: 15px;
  }

  .modern-left-head h4 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  .modern-left-head p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .modern-input form input::placeholder {
    font-size: 15px;
  }

  .play-btn-wrap {
    top: -345px;
    left: 14px;
  }

  .customer-sec {
    padding: 50px 0;
  }

  .customer-head h4 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .customer-head p {
    width: auto;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 30px;
  }

  .customer-img {
    padding: 10px 20px;
  }

  .customer-content {
    padding: 10px;
  }

  .customer-content h5 {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .customer-content p {
    font-size: 13px;
    line-height: 20px;
  }

  .pricing-head h4 {
    width: auto;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .pricing-wrap ul li {
    margin-bottom: 10px;
  }

  .pricing-wrap .nav-link {
    width: 125px;
    height: 45px;
    font-size: 15px;
  }

  .tab-content {
    margin-top: 30px;
  }

  .price-box-head {
    padding: 5px;
    margin-bottom: 10px;
  }

  .price-box-head p {
    font-size: 15px;
    padding: 10px;
  }

  .price-content h6 {
    font-size: 20px;
  }

  .price-content p {
    font-size: 12px;
    margin-bottom: 25px;
  }

  .price-line.botom-line {
    margin-bottom: 25px;
  }

  .price-boton button {
    width: 120px;
    height: 35px;
    font-size: 13px;
  }

  .face-left {
    width: 35%;
  }

  .face-right {
    width: 60%;
  }

  .face-right-wrap h5 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .face-right-wrap p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  .face-boton button {
    width: 130px;
    height: 35px;
    font-size: 14px;
  }

  .review-head h3 {
    font-size: 25px;
    margin-bottom: 60px;
  }

  .review-box {
    width: 24%;
  }

  .stars {
    padding: 0 15px;
  }

  .user-review p {
    padding: 0 12px;
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 10px;
  }

  .review-line {
    margin-bottom: 10px;
  }

  .user-name {
    padding: 0 13px;
  }

  .user-name h6 {
    font-size: 15px;
  }

  .user-name p {
    font-size: 11px;
    margin-bottom: 10px;
  }

  .happy-left-head h4 {
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  .happy-left-head p {
    font-size: 13px;
    margin-bottom: 15px;
  }

  .happy-boton button {
    width: 120px;
    height: 35px;
    font-size: 14px;
  }

  .blog-head h3 {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .blog-content {
    padding: 12px;
  }

  .blog-content h5 {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  .blog-content p {
    font-size: 13px;
    line-height: 22px;
  }

  footer {
    padding: 40px 0 0 0;
  }

  .foot-logo-content h6 {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .foot-logo-content a {
    font-size: 10px;
  }

  .foot-logo-botom p {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .foot-logo-icon a {
    font-size: 18px;
    margin-right: 10px;
  }

  .foot-link-box ul li {
    margin-bottom: 5px;
  }

  .foot-link-box ul li a {
    font-size: 12px;
  }

  .foot-link-box h6 {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .foot-anchor a {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .head {
    padding: 15px 0;
  }

  .logo {
    width: 45%;
  }

  .navbar-nav li {
    padding-left: 20px;
  }

  .navbar-nav li a {
    font-size: 12px;
  }

  .navbar-end {
    padding: 5px 0 10px 15px;
  }

  .navbar-end button {
    width: 85px;
    height: 25px;
    font-size: 11px;
  }

  .banner-sec {
    padding: 90px 0 40px 0;
  }

  .hero-wrap {
    flex-wrap: wrap;
  }

  .hero-left {
    width: 100%;
    margin-bottom: 20px;
  }

  .hero-right {
    width: 100%;
    right: 12px;
  }

  .hero-left-head {
    margin-bottom: 10px;
  }

  .hero-left-head h2 {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  .hero-left-head p {
    font-size: 12px;
    line-height: 18px;
  }

  .hero-left-button {
    margin-bottom: 15px;
    text-align: center;
  }

  .hero-left-button button {
    width: 95px;
    height: 30px;
    font-size: 12px;
  }

  .hero-left-button .demo-boton {
    width: 135px;
  }

  .hero-left-botom {
    text-align: center;
  }

  .hero-left-botom img {
    margin-right: 10px;
    width: 20%;
  }

  .companies-sec {
    padding: 20px 0;
  }

  .company-head h4 {
    font-size: 14px;
  }

  .company-logos img {
    margin-right: 15px;
    width: 12%;
  }

  .help-desk-sec {
    padding: 20px 0;
  }

  .help-head h4 {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .help-botom-wrap {
    flex-wrap: wrap;
  }

  .help-box {
    width: 100%;
    margin-bottom: 20px;
  }

  .help-box-content h6 {
    font-size: 15px;
  }

  .help-box-content p {
    font-size: 12px;
    line-height: 18px;
  }

  .support-software-sec {
    padding: 20px 0;
  }

  .support-head h2 {
    font-size: 16px;
    line-height: 20px;
  }

  .support-head h6 {
    font-size: 12px;
    line-height: 18px;
  }

  #myTab li {
    margin-right: 15px;
    margin-bottom: 13px;
  }

  #myTab li button {
    font-size: 11px;
  }

  .tab-wrap {
    margin-bottom: 30px;
    flex-wrap: wrap;
  }

  .tab-left {
    width: 100%;
    margin-bottom: 20px;
  }

  .tab-right {
    width: 100%;
  }

  .tab-left-head {
    text-align: center;
  }

  .tab-left-head p {
    font-size: 12px;
    line-height: 15px;
  }

  .tab-left-head h3 {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .support-tab-wrap .tab-left-botom .customer-icons {
    margin: 0 auto;
  }

  .support-tab-wrap .tab-left-botom .customer-icons li {
    width: 34%;
    margin-bottom: 10px;
    font-size: 10px;
  }

  .tab-botom-boton button {
    width: 90px;
    height: 30px;
    font-size: 12px;
  }

  .modern-b2b-sec {
    padding: 20px 0;
  }

  .modern-left-head h4 {
    font-size: 16px;
    line-height: 25px;
  }

  .modern-left-head p {
    font-size: 12px;
    line-height: 18px;
  }

  .modern-input form input::placeholder {
    font-size: 10px;
  }

  .play-btn-wrap {
    top: -150px;
    left: 115px;
    width: 25%;
  }

  .customer-sec {
    padding: 20px 0;
  }

  .customer-head h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .customer-head p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .customer-botom {
    flex-wrap: wrap;
  }

  .customer-box {
    width: 100%;
    margin-bottom: 20px;
  }
  .customer-content h5 {
    font-size: 15px;
  }

  .customer-content p {
    font-size: 11px;
    line-height: 18px;
  }

  .pricing-sec {
    padding: 20px 0;
  }

  .pricing-head h4 {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .pricing-wrap .nav-link {
    width: 100px;
    height: 35px;
    font-size: 12px;
  }

  .tab-content {
    margin-top: 20px;
  }

  .pricing-botom {
    flex-wrap: wrap;
  }

  .pricing-box {
    width: 100%;
    margin-bottom: 15px;
  }

  .price-box-head {
    padding: 10px;
  }

  .price-box-head p {
    padding: 15px;
  }

  .price-content h6 {
    font-size: 18px;
  }

  .price-content p {
    font-size: 11px;
    margin-bottom: 20px;
  }

  .price-boton button {
    width: 110px;
    height: 30px;
    font-size: 12px;
  }

  .face-sec {
    padding: 20px 0;
  }

  .face-wrap {
    flex-wrap: wrap;
  }

  .face-left {
    width: 100%;
    margin-bottom: 20px;
  }

  .face-left img {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .face-right {
    width: 100%;
    text-align: center;
  }

  .face-right-wrap h5 {
    font-size: 17px;
    line-height: 20px;
  }

  .face-right-wrap p {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 10px;
  }

  .face-boton button {
    width: 100px;
    height: 30px;
    font-size: 12px;
  }

  .review-sec {
    padding: 20px 0;
  }

  .review-head h3 {
    font-size: 18px;
    margin-bottom: 50px;
  }

  .review-wrap {
    flex-wrap: wrap;
  }
  .review-box {
    width: 100%;
    margin-bottom: 35px;
  }

  .stars i {
    font-size: 11px;
  }

  .user-review p {
    font-size: 12px;
    line-height: 20px;
  }

  .user-name h6 {
    font-size: 13px;
  }

  .user-name p {
    font-size: 10px;
  }

  .happy-customer-sec {
    padding: 20px 0;
  }

  .happy-wrap {
    flex-wrap: wrap;
  }
  .happy-left {
    width: 100%;
    text-align: center;
  }

  .happy-left-head h4 {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  .happy-left-head p {
    font-size: 11px;
  }

  .happy-boton button {
    width: 90px;
    height: 30px;
    font-size: 12px;
  }

  .happy-right {
    width: 100%;
  }

  .happy-right img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .blog-sec {
    padding: 20px 0;
  }

  .blog-head h3 {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .blog-botom {
    flex-wrap: wrap;
  }

  .blog-box {
    width: 100%;
    margin-bottom: 15px;
  }

  .blog-content h5 {
    font-size: 15px;
    line-height: 20px;
  }

  .blog-content p {
    font-size: 11px;
    line-height: 20px;
  }

  footer {
    padding: 20px 0 0 0;
  }
  
  .footer-inner-wrap {
    flex-wrap: wrap;
  }

  .footer-logo-wrap {
    width: 100%;
    margin-bottom: 15px;
  }

  .footer-link-wrap {
    width: 100%;
  }

  .foot-logo {
    margin-bottom: 20px;
  }

  .foot-logo img {
    width: 50%;
  }

  .foot-logo-content {
    margin-bottom: 25px;
  }

  .foot-logo-content h6 {
    font-size: 12px;
  }

  .foot-logo-botom p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .foot-logo-icon a {
    font-size: 15px;
    margin-right: 6px;
  }

  .foot-link-box {
    width: 34%;
  }

  .foot-link-box h6 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .foot-link-box ul li a {
    font-size: 10px;
  }




  
  .foot-botom-wrap {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
}
